<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    
	<property name="APPLICATION_NAME" value="CountryCurdRestService"/>
	<!-- Windows path outside container -->
    <!-- <property name="LOG_FILE" value="D:/Shared_Project_Home/${APPLICATION_NAME}"/> 
	<property name="ARCHIVED_LOG_FILE" value="D:/Shared_Project_Home/Archived/${APPLICATION_NAME}"/> -->
	<!-- WSL/Linux path inside container -->
	<property name="LOG_FILE" value="/opt/logs/${APPLICATION_NAME}"/> 
	<property name="ARCHIVED_LOG_FILE" value="/opt/logs/Archived/${APPLICATION_NAME}"/>
	 

	<!-- Configuration to be enabled when the "default" or "dev" profiles are active -->
    <springProfile name="default">     		
        <!-- <include resource="org/springframework/boot/logging/logback/console-appender.xml"/> -->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        	<encoder>
	            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level] [%thread] [%logger:%line] %msg%n</pattern>
	        </encoder>
        </appender>
        
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
        
        <logger name="org.springframework" level="INFO"/>
        <logger name="com.country.curd.rest" level="DEBUG"/>
    </springProfile>
	
	<!-- Configuration to be enabled when the "dev or qa or stg or prod" profiles are active -->
    <springProfile name="dev | qa | stg | prod">
		<appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${ARCHIVED_LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>20GB</totalSizeCap>
                <maxHistory>60</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </encoder>
        </appender>
       
        <!-- <root level="ERROR"> -->
        <root level="INFO">
            <appender-ref ref="FILE-ROLLING"/>
        </root>
        
        <logger name="org.springframework" level="INFO"/>
        <logger name="com.country.curd.rest" level="DEBUG"/>
    </springProfile>

</configuration>
